.dmb_nav_ul_right {
    display: block;
    float: right;
    text-align: right;
    width: auto !important;
}

.dmb_nav_ul_left {
    display: block;
    width: 100% !important;
    margin-left: 0px;
}

#nav {
    position: static;
    text-align: left;
}

.wrapper.style1 {
    background-image: none;
    background-color: #fff;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.style1 h1 {
    margin-top: 1em;
}
    
.style1 h2 {
    font-size: 1.5em;
    letter-spacing: 0.125em;
}

.style1 p {
    margin-top: 0px;
    padding-top: 0px;
}

.style1 img {
    border-radius: 50%;
    width: 25%;
}

.wrapper.style1.first {
    padding-bottom: 1em;
    
}

.style1 hr {
    margin-bottom: 2em;
}

.style1 dt {
    font-weight: bold;
}

.style1 dd {
    margin-bottom: 1em;
    font-style: italic;
}

ul.social li a {
    -moz-transition: top .2s ease-in-out;
    -webkit-transition: top .2s ease-in-out;
    -ms-transition: top .2s ease-in-out;
    transition: top .2s ease-in-out;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 6px;
    top: 0;
    position: relative;
}

ul.social li a:before {
    background-image: none;
    background-color: lightgrey;
}

ul.social li a.fa-linkedin {
    background-color: #FAFAFA;
}

ul.social li a.fa-github {
    background-color: #FAFAFA;
}

ul.social li a.fa-rss {
    background-color: #FAFAFA;
}

@media screen and (max-width: 736px) {
    .style1 h2 {
        font-size: small;
    }
    
    .wrapper.style1 {
        width: 100%;
    }
}