@import url("font-awesome.min.css");

body, input, textarea, select {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.85em;
    color: lightgrey;
    font-weight: 300;
    margin-top: 0;
    padding-top: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.about {
    color: darkgray;
    margin-right: 1em;
    margin-left: 1em;
}

.header {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.jumbotron {
    background-color: inherit;
    text-align: center;
    margin-bottom: 10px;
}

.jumbotron h1 {
    font-family: 'Merriweather', serif;
    font-size: xx-large;
}

.jumbotron p {
    font-size: small;
}

.lead {
        letter-spacing: 0.125em;
}

.dmb_nav_ul_right {
    display: block;
    float: right;
    text-align: right;
    width: auto !important;
}

.dmb_nav_ul_left {
    display: block;
    width: 100% !important;
    margin-left: 0px;
    padding: 0;
}

.dmb_row {
    margin-left: 1em;
    margin-right: 1em;
}

#headshot {
    width: 128px;
    border-radius: 100%;
}

#nav {
    position: static;
    text-align: left;
    background-color: transparent;
}

#nav a {
    color: white;
}

#nav li {
    display: inline-block;
    list-style: none;
    padding: 15px;
}

.container{
    padding: 0;
}

.background {
    background-image: url('/images/uludag_800x600.jpg');  
    background-position: center;
    background-size: cover;
    width: 100%;
}

ul.social li a {
    -moz-transition: top .2s ease-in-out;
    -webkit-transition: top .2s ease-in-out;
    -ms-transition: top .2s ease-in-out;
    transition: top .2s ease-in-out;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 6px;
    top: 0;
    position: relative;
}

ul.social li a:before {
    background-image: none;
    background-color: lightgrey;
}

ul.social li a.fa-linkedin {
    background-color: #FAFAFA;
}

ul.social li a.fa-github {
    background-color: #FAFAFA;
}

ul.social li a.fa-rss {
    background-color: #FAFAFA;
}

footer {
    border-top: 1px lightgrey solid;
    margin-top: 15px;
}

/* Icons */
.icon {
    text-decoration: none;
}

.icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon > .label {
    display: none;
}

.icon.featured {
    color: #EA8A95;
    display: block;
    margin: 0 0 1.5em 0;
    cursor: default;
}

.icon.featured:before {
    font-size: 6em;
}

@media (min-width: 992px){
    .container{
        width: 740px;
    }
}